@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter-VariableFont_slnt,wght.woff2) format("woff2");
}

@layer components {
  html,
  body,
  #__next {
    height: 100%;
  }

  .box_shadow {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  }

  .container {
    background-color: #161719;
    border-radius: 20px;
  }

  .page_icon {
    @apply h-11 w-11 text-white m-2;
  }

  .page_icon_bg {
    border-radius: 20px;
    @apply bg-[#282A2E];
  }
}
